# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

** Objectives **
* python
* SQL
* R
* Julia

Some of the popular Languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Seaborn
3. PyTorch
4. Pandas
5. Scikit-learn

|Data Science Tools|
|-------------------|
|Jupyter NoteBook|
|Jupyter lab|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python
1+1
2*4
6-2
6/2

In [10]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
# this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Akurati Hemanth Kumar